/* -- Copyright © Microsoft Corporation. All rights reserved. */
.default {
        font-family: Gabriola;
        font-size: 32pt;
    }
#opentype {
    -moz-font-feature-settings: "ss06=1";
    -ms-font-feature-settings: "ss06" 1;
    -webkit-font-feature-settings: "ss06" 1;
    -o-font-feature-settings: "ss06" 1;
    font-feature-settings: "ss06" 1;
}